[submodule "dependencies/IHP__CDR4176"]
	path = dependencies/IHP__CDR4176
	url = https://github.com/Fundacion-Fulgor/IHP__CDR4176
[submodule "dependencies/IHP__ADC8711"]
	path = dependencies/IHP__ADC8711
	url = https://github.com/Fundacion-Fulgor/IHP__ADC8711
[submodule "dependencies/IHP__DAC4133"]
	path = dependencies/IHP__DAC4133
	url = https://github.com/cadornes/IHP__DAC4133
[submodule "dependencies/IHP__VCO2497"]
	path = dependencies/IHP__VCO2497
	url = https://github.com/joerdsonsilva/IHP__VCO2497
